# Flutter
.dart_tool/
.packages
build/
*.iml
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.swp
*.swo

# Env
.env
functions/.env
functions/node_modules/
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# OS
.DS_Store
Thumbs.db

# Android
*.apk
*.aab
*.dex
local.properties
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/key.properties
android/app/debug
android/app/profile
android/app/release

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.hmap
*.xcuserstate
